
.mapContainer{
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
}

.info{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    color: white;
    left: 20px;
    padding: 0.8%;
    position: fixed;
    top: 20px;
    z-index: 99;
}